* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
}
body {
    background-image: url(images/lesly-juarez-isWEKdSRCrA-unsplash.jpg);
    background-size: 100%
}
header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
    border: 1px solid white;
    font-size: 30pt;
    background-color: rgb(50, 105, 45);
}
#pages {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
}
#services {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 1rem 1rem black;
    border: solid 1px white;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    background-image: url(images/victor-freitas-hOuJYX2K5DA-unsplash.jpg);
    background-size: 190%;
    text-align: center;
    height: 20rem;
    width: 15rem;
}
#services:hover {
    box-shadow: 2rem 2rem 2rem black;
    font-size: 30pt;
    transition: linear .2s;
}
#contact:hover {
    box-shadow: 2rem 2rem 2rem black;
    font-size: 30pt;
    transition: linear .2s;
}
#contact {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 1rem 1rem black;
    font-weight: bold;
    font-size: 20pt;
    color: white;
    background-image: url(images/john-schnobrich-yFbyvpEGHFQ-unsplash.jpg);
    background-size: 190%;
    border: solid 1px white;
    background-color: rgb(134, 155, 132);
    text-align: center;
    height: 20rem;
    width: 15rem;
}
#description {
    opacity: .9;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem black;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    border: solid 1px white;
    background-color: rgb(50, 105, 45);
    text-align: center;
    height: 20rem;
    width: 35rem;
}
#description img {
    height: 11rem;
    border-radius: 2rem;
}
#description_p {
    text-align: center;
    margin-top: 5rem;
    font-weight: normal;
}